
body {
  color: #0d0d0d;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.day-btns-container {
  margin: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #737373af;
}

.modal-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 65%;
  max-width: 600px;
  height: auto;
  background-color: white;
  border: 2px inset black;
  border-radius: 6px;
  color: black;
  font-size: 1.5rem;
  text-align: center;
}

.btn-container {
  display: flex;
  margin-left: 2rem;
}

.container {
  display: flex;
}

.select-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  flex-wrap: wrap;
}

.centered {
  text-align: center;
}

.align-self-ctr {
  align-self: center;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.justify-content-ctr {
  justify-content: center;
}

.align-items-ctr {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.row {
  display: flex;
  width: 100%;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.col-seventh {
  width: calc(100% / 7);
}

.add-btn {
  width: 125px;
  height: 25px;
}

.pd-one {
  padding: 1rem;
}

.pd-qtr {
  padding: 0.25rem;
}

.day-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.25rem;
  width: 100px;
  height: 60px;
}

button {
  box-shadow: 0 1px 2px #141e26;
  border: 0.5px solid #141e26;
  font-size: 1rem;
  background-color: #ccc;
  color: #262626;
}

button:hover {
  cursor: pointer;
  background-color: #8c8c8c;
  color: #f2f2f2;
}

select,
input {
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

textarea {
  width: 100%;
  border-radius: 0.5rem;
}

table {
  width: 100%;
  box-shadow: 0 1px 2.5px #141e26;
  border: 1px solid #141e26;
  text-align: left;
  margin: 1rem 2rem;
}

thead:first-child {
  background: linear-gradient(-120deg, #737373 0%, #262626 75%);
  color: #f2f2f2;
}

tr {
  height: 2rem;
}

tbody tr:nth-child(odd) {
  background-color: #ccc;

  /* background: linear-gradient(-120deg, #F2F2F2 0%, #A1A3A6 100%); */
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding: 0.5rem;
}

.th-time {
  width: 10%;
}

.th-location {
  width: 20%;
}

.th-description {
  width: 60%;
}

.th-button {
  width: 10%;
}

.btn-table-row {
  display: flex;
  justify-content: space-evenly;
}

td {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
}
